@using ComplaintBox.Web.Models
@model ComplaintBox.Web.Models.AdminViewModel

<div class="media user-media">
    <a class="user-link" href="#">
        <img class="media-object img-thumbnail user-img" alt="User Picture" src="/Content/img/user.gif" />
        
        @{
            if (Model.NumberOfPendingFeedbacksToday > 0)
            {
                      <span class="label label-danger user-label">@Model.NumberOfPendingFeedbacksToday</span>
            }
        }

  
    </a>
    <div class="media-body">
        <h5 class="media-heading">@Model.UserName</h5>
        <ul class="list-unstyled user-info">
            <li><a href="#">Administrator</a> </li>
            
            @{
                if (Model.OrganizationStatus == OrganizationStatus.New)
                {
                    <li><span class="label label-danger">De-activated</span> </li>
                }
                else
                {
                    <li><span class="label label-success">Active</span> </li>
                }
            }
        </ul>
    </div>
</div>
