<footer id="global-footer">
    <nav id="footer-nav" role="navigation">
        <div id="footer-menu">
            <ul class="list-inline footer-menu-links pull-right">
                <li><a class="" href="/about/">About</a></li>
                <li><a class="" href="/about/terms/">Terms</a></li>
                <li><a class="" href="/about/privacy/">Privacy</a></li>
                <li><a class="" href="/about/contact/">Contact</a></li>
            </ul>
            <div class="fb-logo">feedback</div>
        </div>

        <div class="clearfix"></div>

        <ul id="social-menu" class="list-inline footer-menu-links pull-right">
            <li class="twitter"><a href="#"><span class="fa fa-twitter-square fa-2x"></span></a></li>
            <li class="gplus"><a href="#"><span class="fa fa-google-plus-square fa-2x"></span></a></li>
            <li class="facebook"><a href="#"><span class="fa fa-facebook-square fa-2x"></span></a></li>
        </ul>
    </nav>
</footer>
