<form action="~/ReportGenarator/MonthWiseComplaints" method="POST">
    <h2>Month Wise Complaint</h2>
    <fieldset>
        <legend>Add Complain</legend>
        <input type="hidden" name="id" value="@ViewBag.id" />
        <label for="month">Month</label>
        <input  type="number" name="month" id="month"/>
        
        <label for="year">Year</label>
        <input  type="number" name ="year" id="year"/>
       
        <label>Search Using Status</label>
        <div>
            <select name="state">
                <option value="Resolved" >Resolved</option>
                <option value="New">New</option>
                <option value="All">All</option>
             </select>
        </div>
       
        <div>
        <input type="submit" value ="SEND"/>
        </div>
    </fieldset>
</form>
