<div class="container">
    <h4 class="text-center"> Our Cusomers</h4>
    <div class="row">

        <div class="col-lg-2">

            <img src="~/Content/img/customer_logo/teletalk.png" style= "margin-top:43px ; margin-bottom:62px"/>
        </div>
        <div class="col-lg-2">
            <img src="~/Content/img/customer_logo/aci.png" style="margin-left:65px; margin-top:48px ; margin-bottom:62px" />

        </div>
        <div class="col-lg-2">
            <img src="~/Content/img/customer_logo/keya.png" style="margin-left:117px; margin-top:43px ;margin-bottom:62px"/>
        </div>

        <div class="col-lg-2">

            <img src="~/Content/img/customer_logo/gp.png" style="margin-left: 128px; margin-bottom:15px;  margin-top:20px;" />
        </div>

        <div class="col-lg-2">
            <img src="~/Content/img/customer_logo/metro-uni.png" style="margin-left: 136px; margin-top:59px; margin-bottom:62px" />
        </div>
    </div>
</div>
