@{
    ViewBag.Title = "Feedback";
}

<div class="container marketing main">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
            <h2>Feedback</h2>
            <p>Are you convinced? Do you want to test it by giving a feedback?</p>
            <p><a class="btn btn-warning" href="#" role="button">Feedback</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
            <h2>Search Organizations</h2>
            <p>Search all the organizations that are enjoying benifits of using our system.</p>
            <p><a class="btn btn-primary" href="#" role="button">Search</a></p>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <img class="img-circle" data-src="holder.js/140x140" alt="Generic placeholder image">
            <h2>Top Ten Organizations</h2>
            <p>See the pioneer organizations using our system. And having better customer feedback than before.</p>
            <p><a class="btn btn-info" href="#" role="button">Show List</a></p>
        </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <hr class="featurette-divider" />

    <h1 class="text-center customer" >Our Customers</h1>

    <div class="row">
        <div class="col-lg-2">
            <img src="/Content/img/customer_logo/citycell.jpg" alt="Citycell Logo" /></div>
        <div class="col-lg-2">
            <img src="/Content/img/customer_logo/gp.jpg" alt="Alternate Text" /></div>
        <div class="col-lg-2">
            <img src="/Content/img/customer_logo/banglalink.jpg" alt="Alternate Text" /></div>
        <div class="col-lg-2">
            <img src="/Content/img/customer_logo/metro-uni.jpg" alt="Alternate Text" /></div>
        <div class="col-lg-2">
            <img src="/Content/img/customer_logo/pran.jpg" alt="Alternate Text" /></div>
        <div class="col-lg-2">
            <img src="/Content/img/customer_logo/unilever.jpg" alt="Alternate Text" /></div>
    </div>
</div>