@model ComplaintBox.Web.Models.Settings

<form action="Setting" method="POST">
    <fieldset>
        <legend>Add Subjects</legend>
        
        <label for="SubjectTitle">@ViewBag.SubjectTitle</label>
        <input type="text" name="SubjectTitle" id="SubjectTitle"/>
        @Html.HiddenFor(m=>m.OrganizationId)
     
        <div>
            <input type="submit" value ="Save"/>
        </div>
    </fieldset>
</form>

