@{
    ViewBag.Title = "Search Organizations";
    Layout = "/Views/Shared/_SeconderyLayout.cshtml";
}

@section Style
{
    <link href="~/Content/css/typeahead.css" rel="stylesheet" />
    <style>
        .masthead {
            margin-top: 50px;
            margin-bottom: 90px;
        }
    </style>
}

<section class="container">
    <div class="row">
        <div class="col col-lg-12">

           
                <div class="masthead">
                    <h1 class="title">Organization Search
                    </h1>
                    <p class="tagline">search organization and see infomation including customer ratings!</p>

                    <div class="typeahead-demo">
                        <input class="typeahead" placeholder="registerd organization list">
                        <div class="btn-demo">
                            <p class="btn-demo-text">activate organization search</p>
                        </div>
                    </div>
                    <span class="links links-examples">
                        <a href="/Home/OrganizationList">or see top 10 organizations</a>
                    </span>
                </div>
            

        </div>
    </div>
</section>

@section Script
{
    <script src="~/Scripts/js/hogan-2.0.0.js"> </script>
    <script src="~/Scripts/js/ghostwriter.min.js"> </script>
    <script src="~/Scripts/js/typeahead.min.js"> </script>

    <script>

        var orglist = [
            {
                value: 'Metropolitan University',
                tokens: ['Metropolitan', 'University'],
                name: 'Metropolitan University',
                address: 'Sylhet, Bangladesh, Ph: 01715812452',
                rating: 5
            },
            {
                value: 'Grameen Phone',
                tokens: ['Grameen', 'Phone'],
                name: 'Grameen Phone',
                address: 'Dhaka, Bangladesh, Ph: 01715812452',
                rating: 7
            },
        ];

        $(document).ready(function () {
            $('.typeahead').typeahead({
                name: 'repos',
                local: orglist,
                template: [
                    '<p class="repo-language">{{rating}}</p>', '<p class="repo-name">{{name}}</p>', '<p class="repo-description">{{address}}</p>'
                ].join(''),
                engine: Hogan
            });

            var haunt = ghostwriter.haunt({
                input: '.typeahead',
                interval: 500,
                manuscript: [
                    ghostwriter.noop,
                    'Gramddlp',
                    ghostwriter.backspace.repeat(4),
                    'een',
                    ghostwriter.down.repeat(2),
                    ghostwriter.enter,
                    ghostwriter.selectAll,
                    'UnivStry',
                    ghostwriter.selectAll,
                    'University',
                    ghostwriter.down,
                    ghostwriter.esc,
                    ghostwriter.selectAll
                ]
            });

            $('.btn-demo').on('click', function (e) {
                e.stopPropagation();

                $(this).addClass('is-pressed');
                haunt.start();
            });

            $(document).on('click keydown', function (e) {
                !e.ghostwriter && haunt.pause();
            });
        });

    </script>
}