@model ComplaintBox.Web.Models.NewTopicViewModel
@{    
    ViewBag.Title = "Dashboard";
    ViewBag.PageTitle = "Dashboard";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<style type="text/css">
    #addTopic {
        padding: 10px 10px 80px 10px;
    }
</style>


<div class="container">

    <div class="row">
        
        <div class="col-xs-6 col-xs-offset-1">
            <h3>Add New @Model.SubjectTitle</h3>    
             <hr />
        </div>
        
    </div>


    <div class="row">
        @using (Html.BeginForm("AddNewTopic", "Admin", FormMethod.Post, new { @class = "form-horizontal", id = "addTopic" }))
        {    
            <div class="form-group">

               <label for="TopicTitle" class="control-label col-xs-2">@Model.SubjectTitle</label>
                <div class="col-xs-5">
                    @Html.TextBoxFor(m => m.TopicTitle, new { @class = "form-control" })
                    @Html.HiddenFor(m=> m.OrgId)
                </div>

            </div>

       
            <div class="col-xs-5 col-xs-offset-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        }
    </div>

</div>
