@model  IList<ComplaintBox.Web.Models.Complaint>

<form action="~/Complain/SaveComment" method="POST">
    <fieldset>
         <legend>Comment</legend>
        <label for="Comment">Your Comment</label>
        <input type ="hidden" name="id" value="@ViewBag.id">
        <div>
         <textarea rows="10" cols="5" name="Comment"></textarea>
        </div>
        <div>
        <input type="submit" value ="SEND"/>
        </div>
    </fieldset>
    
</form>